* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d0d0e1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5%;
}

header {
    text-align: center;
    background-color: #d4afb9;
}

header h1, 
header h2 {
    font-weight: normal;
    line-height: 1;
}

header h2 {
    margin-top: 5px;
    opacity: 0.5;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px; /* Espacio antes del encabezado */
    margin-bottom: 10px; /* Espacio después del encabezado */
}

h4 {
    margin-top: 10px; /* Menor espacio antes del encabezado h4 */
    margin-bottom: 5px; /* Menor espacio después del encabezado h4 */
}

section {
    margin-bottom: 20px; /* Espacio entre secciones */
}

p, .habilidad, .nombre_empresa, .año_puesto, .descripción_puesto {
    margin-bottom: 5px; /* Espacio entre párrafos y otros elementos */
}

.nombre_empresa, .año_puesto {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px; /* Menor espacio entre nombre de empresa y año */
}

.descripción_puesto {
    margin-top: 5px; /* Menor espacio antes de la descripción */
    margin-bottom: 10px; /* Espacio inferior para separarlo de otros elementos */
}

ul {
    list-style-type: none; /* Quita los puntos de las listas */
    padding-left: 20px; /* Asegura un margen izquierdo sin puntos */
    margin-bottom: 10px; /* Espacio debajo de la lista */
}

.habilidades i, 
.experiencia i {
    font-size: 0.8em;
    color: #5106e8; 
    background-color: #d4afb9;
    border-radius: 2em;
    padding: 2px;
    width: 1.5em; 
    height: 1.5em;
    text-align: center; 
    vertical-align: middle;
    line-height: 1.5em; 
}

.container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.cabecera {
    position: relative;
    background-color: #ededed; /* Color de fondo ajustado */
    padding: 20px; /* Añadido padding para que el contenido no quede pegado */
}

.cabecera::before {
    content: ''; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-image: url("img/foto_fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3; 
    z-index:-0,2;
}

.foto_perfil {
    width: 150px; 
    display: block;
    margin: 0 auto;
}

.contenedor_foto_perfil {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: -20px; 
    vertical-align: middle;
    border: 7px solid #d4afb9; 
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2; 
}

.contenedor_foto_perfil img {
    width: 100%; 
    height: auto;
    display: block;
}

.nombre_puesto {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.contenido_cv {
    display: flex;
    width: 100%; 
}

.habilidades {
    display: inline-block;
    vertical-align: top;
    background-color: #d4afb9; /* Color de fondo específico para la sección de habilidades */
    padding: 15px; /* Espacio interno */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    width: 28%;
}

.experiencia {
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    width: 50%; 
    background-color: #ededed; 
}

.carta_presentación {
    text-align: justify;
    background-color: #ededed; 
    padding: 5%; 
}

.Portafolio img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    background-color: #d4afb9;
    padding: 20px;
    border-radius: 5px;
}

.trabajos {
    display: flex;
    justify-content: space-between; /* Espacio entre tarjetas */
    flex-wrap: wrap; /* Permite que se ajusten en diferentes líneas si es necesario */
}

.tarjeta {
    flex: 1; /* Hace que cada tarjeta ocupe el mismo espacio */
    margin: 10px; /* Espacio entre las tarjetas */
   max-width: calc((100% / 3) - 20px);
}

.gráfico {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%; 
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;
}

footer {
    background-color: #7dc4ce;
    padding: 20px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.sector {
    position: absolute; 
    top: 0%;
    left: 50%;
    width: 50%; 
    height: 100%; 
    transform-origin: left; 
}

#sector1 {
    transform: rotate(0deg);
    background-color: aquamarine;
}

#sector2 {
    transform: rotate(120deg);
    background-color: #5106e8;
}

#sector3 {
    transform: rotate(240deg);
    background-color: #e80651;
}

.habilidad {
    display: inline-block;
    margin-top: 1%;
    vertical-align: middle;
}

.año_puesto {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
}

